{% extends "base.html" %}

{% block content %}
<div class="container">
  <section>
    <div class="page-header"><h1>Share a Password</h1></div>
      <p>
        This tool allows us to share passwords in a secure way. Submit a password
        and choose how long you want to allow access. The password will be stored
        as long as the time to live (default one hour). The password can only be
        read once. Once somebody reads the password it is automatically removed
        from the system.
      </p>
    <form class="form-horizontal" id="password_create" method="post">
      <textarea id="password" name="password" autofocus="True" style="font-family: monospace; height: 200px; width: 600px;" placeholder="Enter a password or other secret to share."></textarea>
      <br>
      <br>
      Expire after:
      <select name="ttl">
        <option value="3600" selected="true">1 hour</option>
        <option value="86400">1 day</option>
        <option value="604800">1 week</option>
      </select>
      <button type="submit" class="btn btn-primary" id="submit">Generate secret link</button>
    </form>
  </section>
</div>
{% endblock %}

{% block js %}
{% endblock %}
